body {
	font-family: Arial;
	margin: 30px;
	background-color: linen;
}

section {
	border: 2px solid grey;
	border-radius: 6px;
	padding: 10px;
	margin: 10px 10px 10px 0;
	display: flex;
	background-color: lightgray;
}

aside {
	justify-content: space-between;
	flex-basis: 50%;
	padding: 4px 18px;
}

input {
	display: block;
	margin: 10px 0 20px 0;
	border-radius: 5px;
	border: 1px solid grey;
	font-size: 20px;
	padding: 6px;
	background-color: aliceblue;
}

button {
	cursor: pointer;
	width: 90px;
	height: 30px;
	border-radius: 8px;
	border: 1px solid grey;
	font-size: 16px;
	font-weight: bold;
	background-color: lightgreen;
}

td {
	text-align: center;
	border: 1px solid black;
	background-color: aliceblue;
}

table {
	margin: 50px 0;
	border-collapse: collapse;
	padding: 4px;
	width: 80%;
}

#summary td {
	background-color: lightgray;
	border: none;
	font-size: 20px;
	font-weight: bold;
}

.deleteBtn {
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;
	color: crimson;
	width: 50px;
}
